/*--------------------------------------------------------------------------------------/*
 Homepage
/*--------------------------------------------------------------------------------------*/

/*-------------- Slider --------------*/
.slider, .slides {
    height: 100%;
}

.slide {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    padding: 0 7em;
    position: relative;
    z-index: 1;

    &:after {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgb(22, 22, 22);
        opacity: .50;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=15)";
        z-index: -1;
    }

    &__title, p {
        color: $color-text-light;
        text-align: center;
    }

    &__title {
        font-size: 3.5rem;
        line-height: 3.75rem;
        margin-bottom: .75em;        
    }

    p {
        line-height: 1.5rem;
        font-size: 1rem;
    }

    .cta {
        margin-top: 2em;
        text-align: center;

        &__button {
            background: $color-2; 
            border: 2px solid $color-3;
            border-radius: 0;
            color: $color-1;
            display: inline-block;
            font-family: $font-1;
            font-size: 16px;
            padding: 14px 32px;
            text-transform: lowercase;

            &:hover {
                background: $color-1;
                border-color: $color-2;
                color: $color-2;
            }
        }
    }
}

//OWL Slider 
.owl-carousel {
	position: relative;
    height: 100%;
}

.owl-carousel.owl-drag .owl-item {
    height: 100vh;
}

.owl-theme .owl-nav.disabled + .owl-dots {
    bottom: 1%;
    position: absolute;
    left: 0;
    right: 0;
}

.owl-theme .owl-dots .owl-dot span {
    background: #26d1a4;
    width: 18px;
    height: 18px;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #ecffcc;
    border: 2px solid #26d1a4;
}

/*-------------- Responsiveness --------------*/
/** Mobile View **/
@media (max-width: 599px) { 
    .slide {
        padding: 0 4em;
    }
}

@media (max-width: 499px) { 
    .slide {
        padding: 0 2em;

        &__title {
            font-size: 3rem;
            line-height: 3.1rem;
        }
    
        p {
            line-height: 1.1rem;
            font-size: .9rem;
        }
    
        .cta {
            margin-top: 1em;
        }

    }
}